<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atjl.dbservice.mapper.biz.DataTransferMapper">
    <sql id="getRawCond">
        1=1
        <if test="config.otherCond!=null and config.otherCond!=''">
            and ${config.otherCond}
        </if>
        <if test="otherCond.otherCond!=null and otherCond.otherCond!=''">
            and ${otherCond.otherCond}
        </if>
    </sql>
    <sql id="getRawCondExt">
        <if test="config.rawTableLoadTmColumnName!=null and otherCond.startLoadTm!=null and otherCond.endLoadTm!=null">
            and ${config.rawTable}.${config.rawTableLoadTmColumnName} BETWEEN #{otherCond.startLoadTm} and
            #{otherCond.endLoadTm}
        </if>
    </sql>
    <sql id="getRawCovCond">
        <if test="config.rawTableLoadTmColumnName!=null and otherCond.startLoadTm!=null and otherCond.endLoadTm!=null">
            and ${config.tgtTable}.${config.rawTableLoadTmColumnName} BETWEEN #{otherCond.startLoadTm} and
            #{otherCond.endLoadTm}
        </if>
    </sql>


    <select id="getRawTableDataCount" resultType="java.lang.Integer">
        select count(1)
        from ${config.rawTable}
        where
        <include refid="getRawCond"/>
        <include refid="getRawCondExt"/>
    </select>

    <select id="getRawTableData"
            resultType="java.util.Map">
        select ${config.allRawFieldsStr}
        from ${config.rawTable}
        where
        <include refid="getRawCond"/>
        <include refid="getRawCondExt"/>
        <if test="config.orderClause!=null and config.orderClause!=''">
            order by ${config.orderClause}
        </if>
        limit #{config.currentIndex},#{config.pageSize}
    </select>


    <select id="getCoverteTableCount" resultType="java.lang.Integer">
        select count(1)
        from ${config.tgtTable}
        where
        <include refid="getRawCond"/>
        <include refid="getRawCovCond"/>
    </select>
    <select id="getCoverteTableData" resultType="java.util.Map">
        select ${config.searchFieldListStr}
        from ${config.tgtTable}
        where
        <include refid="getRawCond"/>
        <include refid="getRawCovCond"/>
        <if test="config.orderClause!=null and config.orderClause!=''">
            order by ${config.orderClause}
        </if>
        limit #{config.currentIndex},#{config.pageSize}
    </select>


    <select id="getTgtTableData"
            resultType="java.util.Map">
        select ${config.tgtPksAndUpdCheckColsFields} from ${config.tgtTable}
        where
        <foreach collection="conds" item="item" separator="or">
            <foreach collection="item" item="innerItem" separator="and" open="(" close=")">
                ${innerItem.key} = #{innerItem.value}
            </foreach>
        </foreach>
    </select>

    <!--
    Map
        key:property
        value:
            List
                key:id
                value:property's value
    -->

    <update id="updateBatch">
        UPDATE ${config.tgtTable}
        SET
        <foreach collection="dataPkg.items.keys" item="key" separator=","><!--遍历 map -->
            ${key} = CASE ${config.tgtTablePk}
            <foreach collection="dataPkg.items[key]" item="kv"> <!--遍历 list -->
                WHEN #{kv.key} THEN
                <if test="kv.value!=null">
                    #{kv.value,jdbcType=VARCHAR}
                </if>
                <if test="kv.value==null">
                    ''
                </if>
            </foreach>
            END
        </foreach>
        where ${config.tgtTablePk} in (
        <foreach collection="dataPkg.pkValues" item="pk" separator=","><!--遍历 pk list -->
            #{pk}
        </foreach>
        )
    </update>

    <!--
            UPDATE
        SET ORG_CODE_RAW = CASE AREA_MONITOR_ID
            WHEN 4 THEN '44'
            WHEN 5 THEN '55'
        END,
        ORG_NAME_RAW = CASE AREA_MONITOR_ID
            WHEN 4 THEN '44-'
            WHEN 5 THEN '55-'
        END
    WHERE AREA_MONITOR_ID IN (4,5)
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
    -->

    <insert id="insertBatch">
        insert into ${config.tgtTable}
        <foreach collection="config.allTgtSortFields" item="item" separator="," open="(" close=")">
            ${item}
        </foreach>
        values
        <foreach collection="dataPkg.datas" item="item" separator=",">
            <foreach collection="item.items" item="kv" separator="," open="(" close=")">
                #{kv.value}
            </foreach>
        </foreach>
    </insert>


</mapper>