<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atjl.dbfront.mapper.biz.ContentMapper">

    <select id="getContent"
            resultType="com.atjl.dbfront.domain.biz.ContentDomain" >
        SELECT CNAME cname,
        CTYPE ctype,
        CONTENT content,
        CVERSION cversion,
        PRE_VERSION preVersion,
        CRT_TM crtTm,
        UPD_TM updTm
        from  ts_content
        WHERE CNAME=#{cname}
        AND CTYPE=#{ctype}
        AND CVERSION = #{cversion}
    </select>

</mapper>